<div class="card">
  <div class="card-header">
    Location
  </div>
  <div class="card-block">

    <div class="row">
      <iframe width="100%" height="300" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBZgXlyl9EdpjVCJphtQcJuf5GiZsTSdj0&q=<%= @video.lat %>,<%= @video.long %>" allowfullscreen></iframe>
    </div>
  </div>
</div>
