<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="/messages">Messages</a></li>
  <li class="breadcrumb-item"><%= @message.title %></li>
  <li class="breadcrumb-item active">Edit</li>
</ol>

<%= render 'form', message: @message %>

