<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="/messages">Messages</a></li>
  <li class="breadcrumb-item active">New Message</li>
</ol>

<%= render 'form', message: @message %>
