<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="/users">Users</a></li>
  <li class="breadcrumb-item active">New User</li>
</ol>

<%= render 'form', user: @user %>

