<div class="card">

  <div class="card-block">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tab-navigation" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#video" role="tab" aria-expanded="true">
                <i class="fa fa-video-camera" aria-hidden="true"></i>Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#photos" role="tab">
                <i class="fa fa-camera-retro" aria-hidden="true"></i>
                Photos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#vehicles" role="tab">
                <i class="fa fa-car" aria-hidden="true"></i>
                Vehicles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#witnesses" role="tab">
                <i class="fa fa-users" aria-hidden="true"></i>
                Witnesses</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <%= render :partial => 'video' %>

      <%= render :partial => 'photo' %>

      <%= render :partial => 'vehicle' %>

      <%= render :partial => 'witness' %>
    </div>
  </div>
</div>


