<div class="tab-pane" id="photos" role="tabpanel">
  <%- if @accident.photos.count > 0 %>
    <div class="row">
      <%- @accident.photos.each do |photo| %>
        <div class="col-md-4">
          <div class="image-wrap" id="wrapper">
            <a id="fancybox" href="<%= photo.accident_image_url %>" title="A title">
            <%= image_tag photo.accident_image_url, :class => "img-fluid image-div" %>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td colspan="5" class="text-xs-center">No photo details have been captured</td>
        </tr>
  
      </tbody>
    </table>
  <% end %>
</div>