<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="/videos">Videos</a></li>
  <li class="breadcrumb-item active">Video</li>
</ol>

<div class="row">
  <div class="col-md-6">
    <%= render :partial => 'video_information' %>
    <%= render :partial => 'location' %>
  </div>
  <div class="col-md-6">
    <%= render :partial => 'video_viewer' %>
    <%= render :partial => 'device_information' %>
  </div>
</div>
