<div class="card">
  <div class="card-header">
    Profile Details
  </div>
  <div class="card-block">

    <div class="row">

      <div class="col-xs-6 col-md-6">            
        <strong>Address:</strong>
        <p><%= @user.address %></p>
      </div>

      <div class="col-xs-6 col-md-6">            
        <strong>Vehicle Registration</strong>
        <p><%= @user.vehicle_registration %></p>
      </div>

      <div class="col-xs-6 col-md-6">            
        <strong>Insurer:</strong>
        <p><%= @user.insurer %></p>
      </div>

      <div class="col-xs-6 col-md-6">            
        <strong>Telephone number:</strong>
        <p><%= @user.telephone_number %></p>      
      </div>
    </div>
  </div>
</div>