<div class="tab-pane" id="vehicles" role="tabpanel">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Registration</th>
            <th>Driver</th>
            <th>Insurance Company</th>
            <th>Telephone Number</th>
          </tr>
        </thead>
        <tbody>
          <%- if @accident.vehicles.count > 0 %>
            <%- @accident.vehicles.each do |vehicle| %>
              <tr>
                <td><%= vehicle.registration_number %></td>
                <td><%= vehicle.driver_name %></td>
                <td><%= vehicle.insurance_company %></td>
                <td><%= vehicle.phone_number %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5" class="text-xs-center">No vehicle details have been
                  captured
              </td>
            </tr>
          <% end %>
          
          </tbody>
      </table>
    </div>