<div class="tab-pane active" id="video" role="tabpanel">
  <div class="card-block">
    <% if @accident.videos.second.present? %>
      <h3> Front Video</h3>
    <% end %>
    <% video = @accident.videos.first %>
    <video width="100%" height="auto" controls>
      <source src="<%= video.incident_video_url %>" type="video/mp4">
      <track label="Show MPH" kind="captions" srclang="en" src="<%= subtitles_video_path(video,:format=>:vtt) %>" default>

      Your browser does not support the video tag.
    </video>
  </div>

  <div class="card-block">
    <% if @accident.videos.second.present? %>
      <h3> Rear Video</h3>
      <% video = @accident.videos.second %>
      <video width="100%" height="auto" controls>
        <source src="<%= video.incident_video_url %>" type="video/mp4">
        <track label="Show MPH" kind="captions" srclang="en" src="<%= subtitles_video_path(video,:format=>:vtt) %>" default>
    
        Your browser does not support the video tag.
      </video>
    <% end %>
  </div>
</div>
