<div class="tab-pane active" id="video" role="tabpanel">
      <div class="card-block">
      
        <video width="100%" height="auto" controls>
          <source src="<%= @accident.video.incident_video_url %>" type="video/mp4">
          <track label="Show MPH" kind="captions" srclang="en" src="<%= subtitles_video_path(@accident.video,:format=>:vtt) %>" default>
      
          Your browser does not support the video tag.
        </video>
      </div>
    </div>