<div class="col-lg-4 offset-lg-4">
  <div class="card m-t-3">
    <div class="card-header text-center">

      <h3>Password has been reset</h3>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-lg-12">
          <p><%= @user.display_name %>, your password has been reset.</p>
          <p>You can now log into the 4Sight+ using this password.</p>
        </div>
      </div>
    </div>
  </div>
</div>
