<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="/users">Companies</a></li>
  <li class="breadcrumb-item active">New Company</li>
</ol>

<%= render 'form', company: @company %>

